{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
    <h1>Home Page</h1>
    <p>Welcome to our new home page! Enjoy your stay.</p>
    <p>Assignment 2 answers.
        1.  A "Relational Database"  A relational database includes tables containing rows and columns. For example, a typical business order entry database would include a table that describes a customer with columns for name, address, phone number and so forth.</p>
    <p>  2. NoSQL databases feature dynamic schema, and allow you to use what’s known as “unstructured data.” This means you can build your application without having to first define the schema. In a relational database, you are required to define your schema before adding data to the database. Not needing a predefined schema makes NoSQL databases much easier to update as data and requirements change</p>
{% endblock content %}